extends layout

block content
	div.contact_container
		h1#contact-h1 CONTACT US
		form#contact-form(method="POST", action="send", enctype="multipart/form-data")
			p
				input#name(type="text", name="Name", maxlength="20", placeholder="Name")
				br
				input#email(type="email", name="Email", placeholder="Email")
				br
				input#subject(type="text", name="Subject, maxlength", placeholder="Subject")
				br
				input#message(type="text", name="Message", placeholder="Message")
				br
				input(type="submit", value="submit")
				br
