extends layout

block content
	div.contact_container
		h1#contact-h1 CONTACT US
		form#contact-form(method="POST", action="send", enctype="multipart/form-data")
			p
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")
				input(type="text")


