extends layout

block content
	div.contact_container
		form#contact-form.contact-form(method="POST", action="send", enctype="multipart/form-data")
			p
				h2#contact-h2 CONTACT
				input#name(type="text", name="Name", maxlength="20", placeholder="Name", size="30")
				br
				input#email(type="email", name="Email", placeholder="Email", size="30")
				br
				input#subject(type="text", name="Subject, maxlength", placeholder="Subject", size="30")
				br
				textarea#message(placeholder="Message", cols="30", rows="10")
				br
				input.submit(type="submit", value="Send Message")
				br
