doctype html
html(class='no-js', lang='en')
	head
		title= title
		meta(character='etf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=0.8, maximum-scale=1.0, user-scalable=0, viewport-fit=cover')
		link(rel='stylesheet', href='/stylesheets/css/style.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/csshake/docs/csshake.css')
		script(defer, charset='UTF-8' ,src='/javascripts/te5t.xyz.js')
		script(defer, charset='UTF-8' ,src='/javascripts/matrix.js')
	body#contentContainer
		canvas#canvas1
		Header.header
				div
				nav
					a.shake-slow#mainLogo_link(href="/")
						img#mainLogo(src='/images/atilla_logo_white_edit.svg')

					div.hamburger
						span.bar
						span.bar
						span.bar

					ul.mainMenu
						li.mainMenu_element
							div.shake
								a.mainMenu_link(href="/SHOWS") SHOWS
						li.mainMenu_element
							div.shake
								a.mainMenu_link(href="/NEWS") NEWS
						li.mainMenu_element
							div.shake
								a.mainMenu_link(href="/MUSIC") MUSIC
						li.mainMenu_element
							div.shake
								a.mainMenu_link(href="http://5hop.xyz", target="_blank") SHOP
						li.mainMenu_element
							div.shake
								a.mainMenu_link(href="/CONTACT") CONTACT

	block content

	footer.footer
		| || 2022 &copy; ATILLAMUSIC All rights reserved ||
	


