doctype html
html(class='no-js', lang='en')
	head
		title= title
		meta(character='etf-8')
		link(rel='stylesheet', href='/stylesheets/css/style.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/csshake/docs/csshake.css')
	body
	Header.header
		div
			nav
				a.shake-slow#mainLogo_link(href="/")
					img#mainLogo(src='/images/mainLogo_75x61.svg')
				ul.mainMenu
					li
						div.shake
							a.mainMenu_name(href="/SHOWS") SHOWS
					li
						div.shake
							a.mainMenu_name(href="/NEWS") NEWS
					li
						div.shake
							a.mainMenu_name(href="/MUSIC") MUSIC
					li
						div.shake
							a.mainMenu_name(href="http://5hop.xyz", target="_blank") SHOP
					li
						div.shake
							a.mainMenu_name(href="/CONTACT") CONTACT

	block content
