* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}
* body {
  font-family: "Black Han Sans", sans-serif;
  padding-top: 0;
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
}
.header #mainLogo {
  padding-top: 2px;
}
.header nav {
  background: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.header nav .mainMunu {
  display: flex;
  list-style: none;
}
.header nav li {
  display: inline-block;
  text-decoration: none;
}
.header nav li .mainMenu_name {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bolder;
}
#main_picture {
  width: 500px;
}
