* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}
* body {
  font-family: "Black Han Sans", sans-serif;
  padding-top: 0;
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
}
.header #mainLogo {
  transition: 0.3s;
}
.header #mainLogo_link {
  padding: 15px;
}
.header #mainLogo:hover {
  transform: scale(1.5);
  transition: 0.3s;
}
.header nav {
  background: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.header nav .mainMunu {
  display: flex;
  list-style: none;
}
.header nav li {
  padding: 15px;
  display: inline-block;
  text-decoration: none;
}
.header nav li .mainMenu_name {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bolder;
  transition: 0.3s;
}
.header nav li .mainMenu_name:hover {
  background-color: #00000000;
  transition: 0.3s;
}
.main_image_layout_1 {
  text-align: center;
}
.main_image_layout_1 #main_picture {
  width: 500px;
  height: auto;
  margin-top: 97px;
}
.music_layout_1 {
  text-align: center;
}
.music_layout_1 #we_can_do {
  margin-top: 97px;
  justify-content: center;
}
